<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/createPerson.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/createPerson.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<body ng-app="AWIAPP" ng-controller="createPerson" class="createPerson">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a >
                <img id="logo" align="top" src="/images/logo.png" alt="logo" />
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li  ng-click="back()"><a href=""><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li  ng-click="createPerson()"><a href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li ng-click="login()"><a href=""><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="all">
    <div class="container">
        <br><br><br>
        <h1 class="alignCenter">Create your {{typeAccount}} account</h1>
        <div class="choicePerson" ng-show="choicePersonShow">
            <br><br>
            <h2 class="alignCenter">What type of account do you want to create ?</h2>
            <br>
            <div class="row">

                <div class="col-sm-6" id="user" style="background-color:#8abbe6;text-align: center;" ng-click="createSimpleUser()">
                    <div class="simpleUserPerson">
                        <h2>Simple User</h2>
                        <p>A simple user can create diaries, post comments, search and buy products.</p>
                    </div>
                </div>


                <div class="col-sm-6" id="seller" style="background-color:#5cb85c;text-align: center;" ng-click="createSimpleSeller()">
                    <div class="simpleSellerPerson">
                        <h2>Selling Company</h2>
                        <p>A selling company can search create and sell products</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="signUpForm" ng-show="signUpFormShow">
        <h3 class="alignCenter">Fill the information below to create your account !</h3>
        <form name="signUpForm" ng-submit="createPerson(name, pseudo, email, numberAddress, streetAddress, cityAddress, postCodeAddress, siret, password)">
            <div class="form-group">
                <label class="control-label">Name *</label>
                <div>
                    <input type="text" class="form-control" ng-model="name" placeholder="Enter your name here" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Pseudo *</label>
                <div>
                    <input type="text" class="form-control" ng-model="pseudo" placeholder="Enter your pseudo here" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Email *</label>
                <div>
                    <input type="email" class="form-control" ng-model="email" placeholder="Enter your email here" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Number address *</label>
                <div>
                    <input type="number" class="form-control" ng-model="numberAddress" placeholder="Enter your number address here" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Street address *</label>
                <div>
                    <input type="text" class="form-control" ng-model="streetAddress" placeholder="Enter your street address here" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Post code address *</label>
                <div>
                    <input type="number" class="form-control" ng-model="postCodeAddress" placeholder="Enter your post code address here" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">City address *</label>
                <div>
                    <input type="text" class="form-control" ng-model="cityAddress" placeholder="Enter your city address here" required>
                </div>
            </div>
            <div class="form-group" ng-show="isNotNullSiret == 'isNotNull'">
                <label class="control-label">SIRET number (length = 14)</label>
                <div>
                    <input ng-minlength="14" type="number" class="form-control" ng-model="siret" placeholder="Enter your SIRET number here" ng-required="isNotNullSiret == 'isNotNull'">
                </div>
            </div>
            <div class="form-group"> <label class="control-label">Password (length >= 8) *</label>
                <div>
                    <input ng-minlength="8" type="password" class="form-control" ng-model="password" placeholder="Enter your password here" required>
                </div>
            </div>
            <div class="form-group"> <label class="control-label">Confirm Password (length >= 8) *</label>
                <div>
                    <input ng-minlength="8" type="password" class="form-control" name="confirm_password" ng-pattern="getPattern()" ng-model="password_verify" placeholder="Enter your confirm password here" required>
                    <small ng-show="signUpForm.confirm_password.$error.pattern">
                        Password are not equals...
                    </small>
                </div>
            </div>
            <div class="buttonPerson">
                <button ng-disabled="signUpForm.$invalid" class="btn btn-success btn-md">Create</button>
                <button type="button" class="btn btn-danger btn-md" ng-click="cancelCreateAccount()">Cancel</button>
            </div>

        </form>

        <div ng-hide="hideError" class="alert alert-danger"> <strong>Error! </strong>{{titleError}} </div>
    </div>
</div>
<script>
$(window).resize(function(){var result = $("#user").css('height');
$("#seller").css({height:result});}).resize();
</script>
</body>

</html>