<!doctype html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/seller.css">

    <script src="/js/createProductSeller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="AWIAPP" ng-controller="createProductSeller" class="createProductSeller">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a >
                <img id="logo" align="top" src="/images/logo.png" alt="logo" />
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li  ng-click="back()"><a href=""><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li  ng-click="myAccount()"><a href=""><span class="glyphicon glyphicon-user"></span> My account</a></li>
                <li ng-click="logOut()"><a href=""><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>

<div class="container-fluid text-center" >
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <h4  ng-click="searchProduct()"><a href="">Search products</a></h4>

            <h4  ng-click="myProduct()"><a href="#">My Products</a></h4>

            <h4   name="createProduct"  ng-click="createProduct()"><a href="">Create Products</a></h4>

        </div>
        <div class="col-sm-8 text-left">
            <div class="all">
                <div class="createProduct">
                    <div ng-hide="hideSuccess" class="alert alert-success"> <strong>Success! </strong>{{titleSuccess}} </div>
                    <h1 class="alignCenter">Create product</h1>
                    <form name="createProductForm" ng-submit="createProduct(name, description, price, quantity)">
                        <div class="form-group">
                            <label class="control-label">Name *</label>
                            <div>
                                <input type="text" class="form-control" ng-model="name" placeholder="Enter your name here" required>
                            </div>
                        </div>
                        <div class="form-group"> <label class="control-label">Description *</label>
                            <div>
                                <input type="text" class="form-control" ng-model="description" placeholder="Enter your description here" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Price *</label>
                            <div>
                                <input type="number" step="0.001" class="form-control" ng-model="price" placeholder="Enter your price here" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Quantity *</label>
                            <div>
                                <input type="number" step="0.001" class="form-control" ng-model="quantity" placeholder="Enter your quantity here" required>
                            </div>
                        </div>
                        <div class="buttonCenter">
                            <button ng-disabled="createProductForm.$invalid" class="btn btn-success" class="buttonCenter">Create product</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>