<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/createDiary.js"></script>
    <script src="/lib/dropzone"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="AWIAPP" ng-controller="createDiaryUser" class="createDiaryUser">
<div class="all">
    <div class="createDiary">
        <div ng-hide="hideSuccess" class="alert alert-success"> <strong>Success! </strong>{{titleSuccess}} </div>
        <h1>Create Diary</h1>
        <form name="createDiaryForm" ng-submit="createDiary(title, description)">
            <div class="form-group">
                <label class="control-label">Title *</label>
                <div>
                    <input type="text" class="form-control" ng-model="title" placeholder="Enter title here" required>
                </div>
            </div>
            <div class="form-group"> <label class="control-label">Description *</label>
                <div>
                    <input type="text" class="form-control" ng-model="description" placeholder="Enter your description here" required>
                </div>
            </div>
            <button ng-disabled="createDiaryForm.$invalid" class="btn btn-success">Create Diary</button>
        </form>
    </div>
</div>
</body>
</html>
