<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="homeSUJS"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="AWIAPP" ng-controller="homeSU" class="homeSU">
    <div class="all">
        <h1>BIENVENUE {{pseudo}} ({{typeAccount}})</h1>

        <div class="headerChoiceForm">
            <form name="headerChoiceForm">
                <div class="form-group">
                    <button name="logout" class="btn btn-success" ng-click="logout()">Log out</button>
                    <button name="myaccount" class="btn btn-success" ng-click="myaccount()">My account</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>