<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/manageProductAdmin.js"></script>
    <script src="/lib/smart-table"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="AWIAPP" ng-controller="manageProductAdmin" class="manageProductAdmin">
<div class="header">
    <h1>Welcome {{pseudo}} ! ({{typeAccount}})</h1>
    <div class="headerChoiceForm">
        <form name="headerChoiceForm">
            <div class="form-group">
                <button name="myAccount" class="btn btn-success" ng-click="myAccount()">My account</button>
                <button ng-show="isSimpleUser == 'isSimpleUser'" name="myObjective" class="btn btn-success" ng-click="myObjective()">My Objectives</button>
                <button ng-show="isSimpleUser == 'isSimpleUser'" name="createObjective" class="btn btn-success" ng-click="createObjective()">Create Objective</button>
                <button ng-show="isSimpleUser == 'isSimpleUser'" name="myDiary" class="btn btn-success" ng-click="myDiary()">My diary</button>
                <button ng-show="isSimpleUser == 'isSimpleUser'" name="createDiary" class="btn btn-success" ng-click="createDiary()">Create diary</button>
                <button ng-show="isSimpleUser == 'isSimpleUser'" name="myBasket" class="btn btn-success" ng-click="myBasket()">My basket</button>
                <button ng-show="isSeller == 'isSeller'" name="myProduct" class="btn btn-success" ng-click="myProduct()">My product</button>
                <button ng-show="isSeller == 'isSeller'" name="createProduct" class="btn btn-success" ng-click="createProduct()">Create product</button>
                <button ng-show="isSeller == 'isSeller' || isSimpleUser == 'isSimpleUser'" name="searchProduct" class="btn btn-success" ng-click="searchProduct()">Search product</button>
                <button ng-show="isAdmin == 'isAdmin'" name="manageAccount" class="btn btn-success" ng-click="manageAccount()">Manage account</button>
                <button ng-show="isAdmin == 'isAdmin'" name="manageProduct" class="btn btn-success" ng-click="manageProduct()">Manage product</button>
                <button name="logOut" class="btn btn-success" ng-click="logOut()">Log out</button>
            </div>
        </form>
    </div>
</div>
<div class="all">
    <h1>Manage product</h1>
    <div ng-hide="hideSuccess" class="alert alert-success"> <strong>Success! </strong>{{titleSuccess}} </div>
    <div class="isChoice" ng-show="isChoiceShow">
        <button class="btn btn-success" ng-click="showUpdateTable()">Update a Product</button>
        <button class="btn btn-success" ng-click="showFormCreateProduct()">Create a Product</button>
    </div>
    <div class="isTable" ng-show="isTableShow">
        <table st-table="myTableProduct" st-safe-src="allProduct" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="name">Name</th>
                <th st-sort="description">description</th>
                <th st-sort="price">price</th>
                <th st-sort="quantity">quantity</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <tr>
                <th colspan="5"><input st-search="" class="form-control" placeholder="Search in the table" type="text"/></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in myTableProduct">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td> <button type="button" ng-click="showUpdateFormProduct(product)" class="btn btn-default">Update</button> </td>
                <td> <button type="button" ng-click="deleteProduct(product)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button> </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="isFormCreateProduct" ng-show="isFormCreateProductShow">
        <div class="createProductForm">
            <h3>Fill the information below to create the product !</h3>
            <form name="createProductForm" ng-submit="createProductt(name, description, price, quantity)">
                <div class="form-group">
                    <label class="control-label">Name *</label>
                    <div>
                        <input type="text" class="form-control" ng-model="name" placeholder="Enter your name here" required>
                    </div>
                </div>
                <div class="form-group"> <label class="control-label">Description *</label>
                    <div>
                        <input type="text" class="form-control" ng-model="description" placeholder="Enter your description here" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Price *</label>
                    <div>
                        <input type="number" step="0.001" class="form-control" ng-model="price" placeholder="Enter your price here" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Quantity *</label>
                    <div>
                        <input type="number" step="0.001" class="form-control" ng-model="quantity" placeholder="Enter your quantity here" required>
                    </div>
                </div>
                <div class="companyValue">
                    Choose your company :
                    <select ng-model="seller.name" ng-options="seller as seller.name for seller in allSeller" ng-change="hasChanged(seller)" required>
                        <option value="" selected="selected">Choose one in the list</option>
                    </select>
                </div>
                <!--<div class="form-group">
                    <label class="control-label">Image *</label>
                    <div class="dropzone"> </div>
                </div>-->
                <button ng-disabled="createProductForm.$invalid" class="btn btn-success">Create product</button>
            </form>
            <button type="button" class="btn warning" ng-click="cancelCreateAccount()">Cancel</button>
            <div ng-hide="hideError" class="alert alert-danger"> <strong>Error! </strong>{{titleError}} </div>
        </div>
    </div>
    <div class="isFormUpdate" ng-show="isFormUpdateShow">
        <div class="updateForm">
            <form name="updateForm" ng-submit="updateProduct(nameToUpdate, descriptionToUpdate, priceToUpdate, quantityToUpdate)">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <div>
                        <input type="text" class="form-control" ng-model="nameToUpdate" placeholder="Enter the new name here">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <div>
                        <input type="text" class="form-control" ng-model="descriptionToUpdate" placeholder="Enter the new description here">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Price</label>
                    <div>
                        <input type="number" step="0.001" class="form-control" ng-model="priceToUpdate" placeholder="Enter the new price here">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Quantity</label>
                    <div>
                        <input type="number" step="0.001" class="form-control" ng-model="quantityToUpdate" placeholder="Enter the new quantity here" required>
                    </div>
                </div>
                <button class="btn btn-success">Update</button>
            </form>
            <button class="btn btn-danger" ng-click="cancelFormUpdate()">Cancel</button>
        </div>
    </div>
</div>
</body>
</html>