<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="/js/manageAccountAdmin.js"></script>
    <script src="/lib/smart-table"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="AWIAPP" ng-controller="manageAccountAdmin" class="manageAccountAdmin">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a >
                <img id="logo" align="top" src="/images/logo.png" alt="logo" />
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li  ng-click="back()"><a href=""><span class="glyphicon glyphicon-home"></span> Home</a></li>

                <li  ng-show="isSimpleUser == 'isSimpleUser'" ng-click="myBasket()"><a href=""><span class="glyphicon glyphicon-shopping-cart"></span> Basket</a></li>

                <li  ng-click="myAccount()"><a href=""><span class="glyphicon glyphicon-user"></span> My account</a></li>
                <li ng-click="logOut()"><a href=""><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>

<div class="container-fluid text-center">
    <div class="row content">

        <div class="col-sm-2 sidenav">
            <div class="header">
                <div class="headerChoiceForm">
                    <form name="headerChoiceForm">
                        <div class="form-group">
                            <h4 ng-show="isSimpleUser == 'isSimpleUser'" name="myObjective" c ng-click="myObjective()">My objectives</h4>
                            <h4 ng-show="isSimpleUser == 'isSimpleUser'" name="createObjective"  ng-click="createObjective()">Create Objective</h4>
                            <h4 ng-show="isSimpleUser == 'isSimpleUser'" name="myDiary"  ng-click="myDiary()">My diaries</h4>
                            <h4 ng-show="isSimpleUser == 'isSimpleUser'" name="createDiary"  ng-click="createDiary()">Create diaries</h4>
                            <h4 ng-show="isSeller == 'isSeller'" name="myProduct"  ng-click="myProduct()">My products</h4>
                            <h4 ng-show="isSeller == 'isSeller'" name="createProduct"  ng-click="createProduct()">Create product</h4>
                            <h4 ng-show="isSeller == 'isSeller' || isSimpleUser == 'isSimpleUser'" name="searchProduct"  ng-click="searchProduct()">Search products</h4>
                            <h4 ng-show="isAdmin == 'isAdmin'" name="manageAccount"  ng-click="manageAccount()">Manage accounts</h4>
                            <div class="isChoice" ng-show="isChoiceShow">
                                <h5 ng-click="showUpdateTable()">Update a Person</h5>
                                <h5  ng-click="showFormCreateSU()">Create a SU</h5>
                                <h5 ng-click="showFormCreateSC()">Create a SC</h5>
                                <h5 ng-click="showFormCreateAdmin()">Create an Admin</h5>
                            </div>
                            <h4 ng-show="isAdmin == 'isAdmin'" name="manageProduct"  ng-click="manageProduct()">Manage products</h4>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8 text-left">
            <h1 class="alignCenter">Welcome {{pseudo}}  ({{typeAccount}})</h1>
            <div class="all">
                <h1 id="subTitle">Manage accounts</h1>
                <div ng-hide="hideSuccess" class="alert alert-success"> <strong>Success! </strong>{{titleSuccess}} </div>

                <div class="isTable" ng-show="isTableShow">
                    <table st-table="myTablePerson" st-safe-src="allPerson" class="table table-striped">
                        <thead>
                        <tr>
                            <th st-sort="name">Name</th>
                            <th st-sort="email">Email</th>
                            <th st-sort="pseudo">Pseudo</th>
                            <th st-sort="role">Type of Account</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        <tr>
                            <th colspan="5"><input st-search="" class="form-control" placeholder="Search in the table" type="text"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="person in myTablePerson">
                            <td>{{person.name}}</td>
                            <td>{{person.email}}</td>
                            <td>{{person.pseudo}}</td>
                            <td>{{person.role}}</td>
                            <td> <button type="button" ng-click="showUpdateFormPerson(person)" class="btn btn-default btn-lg">Update</button> </td>
                            <td> <button type="button" ng-click="deletePerson(person)" class="btn btn-sm btn-danger btn-lg">
                                <i class="glyphicon glyphicon-remove-circle">
                                </i>
                            </button> </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="isFormCreatePerson" ng-show="isFormCreatePersonShow">
                    <div class="createPersonForm">
                        <h3>Fill the information below to create the {{typeAccount}} account </h3>
                        <div ng-hide="hideError" class="alert alert-danger"> <strong>Error! </strong>{{titleError}} </div>
                        <form name="createPersonForm" ng-submit="createPerson(name, pseudo, email, numberAddress, streetAddress, postCodeAddress, cityAddress, siret, password, admin)">
                            <div class="form-group">
                                <label class="control-label">Name *</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="name" placeholder="Enter your name here" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Pseudo *</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="pseudo" placeholder="Enter your pseudo here" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email *</label>
                                <div>
                                    <input type="email" class="form-control" ng-model="email" placeholder="Enter your email here" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Number address *</label>
                                <div>
                                    <input type="number" class="form-control" ng-model="numberAddress" placeholder="Enter your number address here" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Street address *</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="streetAddress" placeholder="Enter your street address here" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Post code address *</label>
                                <div>
                                    <input type="number" class="form-control" ng-model="postCodeAddress" placeholder="Enter your post code address here" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">City address *</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="cityAddress" placeholder="Enter your city address here" required>
                                </div>
                            </div>
                            <div class="form-group" ng-show="isNotNullSiret">
                                <label class="control-label">SIRET number (length = 14) *</label>
                                <div>
                                    <input ng-minlength="14" type="number" class="form-control" ng-model="siret" placeholder="Enter your SIRET number here" ng-required="isNotNullSiret">
                                </div>
                            </div>
                            <div class="form-group"> <label class="control-label">Password (length >= 8) *</label>
                                <div>
                                    <input ng-minlength="8" type="password" class="form-control" ng-model="password" placeholder="Enter your password here" required>
                                </div>
                            </div>
                            <div class="form-group"> <label class="control-label">Confirm Password (length >= 8) *</label>
                                <div>
                                    <input ng-minlength="8" type="password" class="form-control" name="confirm_password" ng-pattern="getPattern()" ng-model="password_verify" placeholder="Enter your confirm password here" required>
                                    <small ng-show="createPersonForm.confirm_password.$error.pattern">
                                        Password are not equals...
                                    </small>
                                </div>
                            </div>
                            <div class="form-group" ng-show="isAdminAccount">
                                <label class="control-label">is Admin account ? *</label>
                                <div class="alignCenter">
                                    <input type="radio" ng-model="admin" value="yes" name="yes" > Yes
                                    <input type="radio" ng-model="admin" value="no" name="no" style="margin-left: 20%;"> No
                                </div>

                            </div>
                            <div ngIf="isAdminAccount" ng-show="isAdminAccount">
                                <button ng-disabled="createPersonForm.$invalid || !admin" class="btn btn-success">Create Admin</button>
                            </div>
                            <div ngIf="!isAdminAccount" ng-show="!isAdminAccount">
                                <div class="buttonCenter">
                                    <button ng-disabled="createPersonForm.$invalid" class="btn btn-success">Create {{typeAccount}}</button>
                                    <button type="button" class="btn btn-danger" ng-click="cancelCreateAccount()">Cancel</button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
                <div class="isFormUpdate" ng-show="isFormUpdateShow">
                    <div class="updateForm">
                        <h3>Fill the field of what you would update...</h3>
                        <form name="updateForm" ng-submit="updatePerson(nameToUpdate, pseudoToUpdate, siretToUpdate, numberAddressToUpdate, streetAddressToUpdate, postCodeAddressToUpdate, cityAddressToUpdate, passwordToUpdate)">
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="nameToUpdate" placeholder="Enter your new name here">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Pseudo</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="pseudoToUpdate" placeholder="Enter your new pseudo here">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Number address</label>
                                <div>
                                    <input type="number" class="form-control" ng-model="numberAddressToUpdate" placeholder="Enter your number address here" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Street address</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="streetAddressToUpdate" placeholder="Enter your street address here" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Post code address</label>
                                <div>
                                    <input type="number" class="form-control" ng-model="postCodeAddressToUpdate" placeholder="Enter your post code address here" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">City address</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="cityAddressToUpdate" placeholder="Enter your city address here" required>
                                </div>
                            </div>
                            <div ng-show="isSiretNotNull" class="form-group">
                                <label class="control-label">N° SIRET (length = 14)</label>
                                <div>
                                    <input type="text" class="form-control" ng-model="siretToUpdate" placeholder="Enter your new siret here">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password (length >= 8) *</label>
                                <div>
                                    <input ng-minlength="8" type="password" class="form-control" ng-model="passwordToUpdates" placeholder="Enter your password here">
                                </div>
                            </div>
                            <div class="buttonCenter">
                                <button class="btn btn-success">Update</button>
                                <button class="btn btn-danger " ng-click="cancelFormUpdate()">Cancel</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>