<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/myaccount.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="AWIAPP" ng-controller="myaccount" class="myaccount">
    <div class="header">
        <h1>Welcome {{pseudo}} ! ({{typeAccount}})</h1>
        <div class="headerChoiceForm">
            <form name="headerChoiceForm">
                <div class="form-group">
                    <button name="myAccount" class="btn btn-success" ng-click="myAccount()">My account</button>
                    <button ng-show="isSimpleUser == 'isSimpleUser'" name="myObjective" class="btn btn-success" ng-click="myObjective()">My Objectives</button>
                    <button ng-show="isSimpleUser == 'isSimpleUser'" name="createObjective" class="btn btn-success" ng-click="createObjective()">Create Objective</button>
                    <button ng-show="isSimpleUser == 'isSimpleUser'" name="myDiary" class="btn btn-success" ng-click="myDiary()">My diary</button>
                    <button ng-show="isSimpleUser == 'isSimpleUser'" name="createDiary" class="btn btn-success" ng-click="createDiary()">Create diary</button>
                    <button ng-show="isSimpleUser == 'isSimpleUser'" name="myBasket" class="btn btn-success" ng-click="myBasket()">My basket</button>
                    <button ng-show="isSeller == 'isSeller'" name="myProduct" class="btn btn-success" ng-click="myProduct()">My product</button>
                    <button ng-show="isSeller == 'isSeller'" name="createProduct" class="btn btn-success" ng-click="createProduct()">Create product</button>
                    <button ng-show="isSeller == 'isSeller' || isSimpleUser == 'isSimpleUser'" name="searchProduct" class="btn btn-success" ng-click="searchProduct()">Search product</button>
                    <button ng-show="isAdmin == 'isAdmin'" name="manageAccount" class="btn btn-success" ng-click="manageAccount()">Manage account</button>
                    <button ng-show="isAdmin == 'isAdmin'" name="manageProduct" class="btn btn-success" ng-click="manageProduct()">Manage product</button>
                    <button name="logOut" class="btn btn-success" ng-click="logOut()">Log out</button>
                </div>
            </form>
        </div>
    </div>
    <div class="all">
        <h1>{{pseudo}} information account:</h1>
        <div class="isValue" ng-show="isValueShow">
            <div class="valueName">
                Name : {{name}} <br>
            </div>
            <div class="valuePseudo">
                Pseudo : {{pseudo}} <br>
            </div>
            <div class="valueEmail">
                Email : {{email}} <br>
            </div>
            <div ng-show="siret != null" class="valueSiret">
                N° SIRET : {{siret}}
            </div>
            <div class="valueTypeAccount">
                Type of account : {{typeAccount}} <br>
            </div>
            <div class="valueNumberAdress">
                Number address : {{numberAddress}}
            </div>
            <div class="valueStreetAddress">
                Street address : {{streetAddress}}
            </div>
            <div class="valueCityAddress">
                City Address : {{cityAddress}}
            </div>
            <div class="valuePostCodeAddress">
                Post code : {{postCodeAddress}}
            </div>
            <button class="btn btn-success" ng-click="showFormUpdate()">Show update possibility</button>
        </div>
        <div class="form" ng-show="isFormShow">
            <div class="updateForm">
                <h3>Fill the field of what you would update...</h3>
                <form name="updateForm" ng-submit="update(name, pseudo, numberAddress, streetAddress, postCodeAddress, cityAddress, siret, passwordv)">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <div>
                            <input type="text" class="form-control" ng-model="name" placeholder="Enter your new name here">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Pseudo</label>
                        <div>
                            <input type="text" class="form-control" ng-model="pseudo" placeholder="Enter your new pseudo here">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Number address</label>
                        <div>
                            <input type="number" class="form-control" ng-model="numberAddress" placeholder="Enter your number address here" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Street address</label>
                        <div>
                            <input type="text" class="form-control" ng-model="streetAddress" placeholder="Enter your street address here" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Post code address</label>
                        <div>
                            <input type="number" class="form-control" ng-model="postCodeAddress" placeholder="Enter your post code address here" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">City address</label>
                        <div>
                            <input type="text" class="form-control" ng-model="cityAddress" placeholder="Enter your city address here" required>
                        </div>
                    </div>
                    <div ng-show="siret != null" class="form-group">
                        <label class="control-label">N° SIRET (length = 14)</label>
                        <div>
                            <input type="text" class="form-control" ng-model="siret" placeholder="Enter your new siret here">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password (length >= 8) *</label>
                        <div>
                            <input ng-minlength="8" type="password" class="form-control" ng-model="passwordv" placeholder="Enter your password here">
                        </div>
                    </div>
                    <button class="btn btn-success">Update</button>
                </form>
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</body>
</html>